<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1 style="color:red;">Welcome Mr.:<%= @user.name %></h1>
    <p>
      Comment on your task<br>
    </p>

      ____________________________________<br>
      Your Task Titel is: <%= @task.title %>.<br>
      Your Task Discription is: <%= @task.description %>.<br>
      Your Task Due Data is : <%= @task.due_date %><br>
      Comment On Your Task: <%= @comment.title%><br>
      ____________________________________<br>
    <p>Thanks have a great day!</p>
  </body>
</html>
